@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

*{
    margin: 0;
    padding: 0;
    color: white;
}

html{
    background-color: black;
    overflow: hidden;
}

/*---------------- START SCREEN && END SCREEN ----------------*/

.transition_screen{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.end{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(http://i.imgur.com/7ZHrijt.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: -1;
}

.transition_screen h1{
    position: absolute;
    top: 10%;
    line-height: 100%;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    width: 100%;
    font-size: 90px;
}

h5{
    position: absolute;
    top: 25%;
    font-family: 'Kanit', sans-serif;
    font-size: 25px;
    z-index: 2;
}

.metric_toggle{
    position: absolute;
    top: 45%;
    display: flex;
    width: 600px;
    margin: 50px;
}

.metric_toggle button{
    width: 250px;
}

.selected{
    background-color: white;
    color: black;
}

h2{
    font-family: 'Kanit', sans-serif;
    text-align: center;
    width: 100%;
    font-size: 60px; 
}

.transition_screen h3{
    font-family: 'Kanit', sans-serif;
    text-align: center;
    width: 100%;
    font-size: 40px; 
    background-color: green;
}

.transition_screen .button_container{
    position: absolute;
    top: 70%;
}

.credits{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 10px;
    text-align: center;
}

h4{
    font-family: 'Kanit', sans-serif;
    font-size: 25px;
}

.end h1{
    font-size: 200px;
}

.end .flex{
  position: absolute;  
  top: 30%;
}
/*---------------- MANGA GAME SECTION ----------------*/


.container{
    display: flex;
}

.manga_box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;
    position: absolute;
    transform: translateX(200%);
    transition: 1s ease;
}

.position_0{
    opacity: 0;
    transform: translateX(-100%);
}

.position_1{
    transform: translateX(0%);
}

.position_2{
    transform: translateX(100%);
}

.position_3{
    opacity: 0;
}

.manga_info{
    display: block;
    width: 60%;
    z-index: 2;
}

.manga_info h1{
    line-height: 100%;
    width: 100%;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 60px;
    padding-bottom: 20px;
}

.manga_info h2{
    width: 100%;
    height: 115px;
    text-align: center;   
    font-family: 'Kanit', sans-serif;
    font-size: 80px;
    margin-top: -30px;
}

.manga_info h3{
    width: 100%;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 40px;
    margin-top: -20px;
}

.button_container{
    width: 100%;
    height: 115px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
}

.position_0 .button_container{
    display: none;
}

.position_1 .button_container{
    display: none;
}

button{
    width: 45%;
    height: fit-content;
    background-color: transparent;
    font-family: 'Kanit', sans-serif;
    font-size: 40px;
    border: 2px solid white;
    border-radius: 50px;
    margin: auto;
    transition: 0.3s ease;
}

button:hover{
    background-color: white;
    color: black;
}

#middle_circle{
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1s ease;
}

#middle_circle h1{
    font-family: 'Kanit', sans-serif;
    color: black;
    font-size: 60px;
    padding-top: 6px;
    padding-right:4px

}

.highscore{
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.score{
    padding: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.manga_box img{
    position: absolute;
    width: 97%;
    filter: blur(5px);
}

.overlay{
    position: absolute;
    right: 0;
    opacity: 0.7;
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.transition_screen h5{
    text-align: center;
    margin-top: 100px;
}

/*should edit names and finalize animation*/

.toDisappear{
    animation: disappear 1s forwards;
}

.toAppear{
    animation: appear 1s forwards;
}

@keyframes disappear {
    0%{
        transform: translate(-50%, -50%) scale(1);
    }
    60%{
        transform: translate(-50%, -50%) scale(1.5);
    }
    100%{
        transform: translate(-50%, -50%) scale(0);
    }
}

@keyframes appear {
    0%{
        transform: scale(0);
    }
    60%{
        transform: translate(-50%, -50%) scale(0);
    }
    80%{
        transform: translate(-50%, -50%) scale(1.5);
    }
    100%{
        transform: translate(-50%, -50%) scale(1);
    }
}


.ani_metric_text{
    width: 100%;
    height: 115px;
    text-align: center;   
    font-family: 'Kanit', sans-serif;
    font-size: 80px;
    margin-top: -30px;
    display: none;
}

.position_2 .ani_metric_text{
    display: block;
}

.metric_text{
    width: 100%;
    height: 115px;
    text-align: center;   
    font-family: 'Kanit', sans-serif;
    font-size: 80px;
    margin-top: -30px;
    display: none;
}

.position_0 .metric_text{
    display: block;
}

.position_1 .metric_text{
    display: block;
}


/*BACKGROUND TEST*/

.background{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    justify-content: center;
}

.background:nth-child(2) .mangaColumn:first-of-type{
    margin-left: 100px;
}

.background .overlay{
    height: 100%;
    width: 100%;
    opacity: .8;
}

.mangaColumn{
    display: block;
    width: fit-content;
}

.bManga{
    width: 103px;
    height: 155px;
    display: block;
    margin: 21px;
    border-radius: 20px;
}

.flex{
    display: flex;
}

.flex h2{
    width: fit-content;
    font-size: 60px;
    padding: 50px;
}

.transition_screen .button_container{
    flex-direction: column;
}

.transition_screen button{
    margin-top: 30px;
}

.exit{
    position: absolute;
    right: 0;
    top:0;
    color: white;
    font-size: 30px;
    margin: 15px;
    z-index: 3;
    border: none;
    width: fit-content;
}

.exit:hover{
    opacity: .8;
    background-color: transparent;
    color: white;
}

@media screen and (max-width: 768px) {

    .bManga{
        width: 75%;
        height: 13%;
        margin: 10px;
    }
    
    .transition_screen h1{
        top: 20%;
        font-size: 40px;
        line-height: 100%;
    }

    .metric_toggle{
        width: 100%;
        flex-direction: column;
    }

    .metric_toggle button{
        margin-top: 10px;
        font-size: 30px;
        width: 50%;

    }

    .button_container button{
        font-size: 40px;
        width: 80%;
        margin-top: 23px;
    }

    h5{
        font-size: 20px;
    }

    .end{
        background-size: 300% 100%;
        background-position: 55% 0;
    }

    .end h2{
        font-size: 35px;
        padding: 10px;
    }

    .end .flex{
        flex-direction: column;
    }

    /*Dealing with manga app*/

    .manga_info h1{
        font-size: 20px;
    }

    .manga_info h3:last-child{
        margin-top: -10px;
    }

    .manga_info h3{
        font-size: 15px;
    }

    .button_container{
        flex-direction: column;
        margin-top: 0px;
    }

    .manga_info .button_container{
        height: 65px;
    }

    .manga_info .button_container button{
        font-size: 15px;
        width: 80%;
        margin-top: 0px;
    }

    .ani_metric_text{
        font-size: 30px;
        margin-top: 0px;
        height: 65px;
    }

    .metric_text{
        font-size: 30px;
        margin-top: 0px;
        height: 65px;
    }

    #middle_circle{
        width: 50px;
        height: 50px;
    }

    #middle_circle h1{
        font-size: 30px;
        margin-top: -3px;
        margin-left: 2px;
    }
}